*{
	margin: 0px;
	padding: 0px;
}
.hadder{
	width: 100%;
	height: 56px;
	background: #2874f0;
}
.logo{
	width: 75px;
	height: 20px;
    margin-left: 200px;
    margin-top: 10px;
}
.search{
	height: 33px;
	width: 521px;
	margin-left: 10px;
    margin-top: 10px;
}
.login{
	height: 31px;
	width: 121px;
	text-align: center;
	margin-left: 190px;
	color: #2874f0;
	font-size: 17px;
}
.cart{
	margin-left: 1282px;
	 margin-top: -32px;
    font-size: 20px;
     color: white;

}
.more{
	text-decoration: none;
	    color: white;
    padding-left: 40px;
    font-size: 19px;
}
.a{
	width: 100%;
	height: 111px;
	background: #fff;
    margin-left: -6px;
   
}
.div1{
	height: 87px;
	width: 64px;
	float: left;
	 margin-left: 104px;
    margin-right: -24px;
}
.image{
	height: 64px;
	width: 64px;
}
.bg{
	background: #f1f3f6;
}
.slider{
	width: 100%;
   height:280px; 
}
.si{
	width: 100%;
	height: 280px;
}
.deals{
	width: 1255px;
	height: 63px;
	background: white;
    margin-top: 15px;
    font-size: 22px;
}
.i{
	width: 230px;
	height:354px;
	float: left;
	 margin-top: -347px;
    margin-left: 1269px;
}
.j{
	border: solid white;
	width: 230px;
	height: 353px;
}
.text{
	 margin-left: 20px;
    padding-top: 20px;

}
.b{
	width: 1255px;
	height: 287px;
	background: white;
	margin-top: 2px;
}
.t1{
	width: 195px;
	height: 287px;
	float: left;
	margin-left: 13px;
}
.img{
	width: 150px;
	height: 150px;
    margin-top: 20px;
    margin-left: 30px;
}
.to{
	width: 1519px;
	height: 63px;
	background: white;
	font-size: 22px;
	margin-top: 20px;
}
.bo{
	width: 1519px;
	height: 287px;
	margin-top: 2px;
	background: white;
}
.foot{
	width: 1519px;
	height: 1990px;
	background: white;
	text-decoration: none;
	text-align: justify;
	 margin-top: 50px;
}
.e{
	margin-left: 30px;
	margin-right: 50px;
    padding-top: 55px;
}
.f{
	margin-left: 30px;
	margin-right: 40px;
	text-align: justify;
	font-size: 13px;
}
.footer{
	width: 1519px;
	height: 329px;
	background: #0d0c22;
	font-size: 12px;
	padding-top: 50px;
}
.g{
	float: left;
	color: white;
	margin-left: 85px;
	font-family: -webkit-pictograph;
}
.h{
	float: left;
	color: white;
    margin-left: 216px;
    margin-right: -132px;
    font-family: -webkit-pictograph;
}
.k{
	width: 1519px;
	height: 40px;
	text-align: center;
	 margin-top: 2px;
	background: white;

}
.k ul li{
	display: inline;
    margin-left: 60px;
}
.k ul li a{
	text-decoration: none;
	color: black;
  font-weight: bold;
    font-size: 17px;

}
.l{
	width: 1366px;
	height: 4400px;
	background: white;
	margin-left: 80px;
}
.m{
	width: 512px;
	height: 516px;
	float: left;
}